<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.sjf.mapper.produce.TaskMapper">

    <sql id="taskColumns">
        id, task_code, status, priority, planned_number, planned_begin_time, planned_end_time, really_begin_time, really_end_time,
        good_product_number, bad_product_number, create_time, update_time
    </sql>

    <resultMap id="taskResultMap" type="com.sjf.entity.produce.Task">
        <id property="id" column="id"/>
        <result property="taskCode" column="task_code"/>
        <result property="status" column="status"/>
        <result property="priority" column="priority"/>
        <result property="plannedNumber" column="planned_number"/>
        <result property="plannedBeginTime" column="planned_begin_time"/>
        <result property="plannedEndTime" column="planned_end_time"/>
        <result property="reallyBeginTime" column="really_end_time"/>
        <result property="reallyEndTime" column="really_end_time"/>
        <result property="goodProductNumber" column="good_product_number"/>
        <result property="badProductNumber" column="bad_product_number"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="isDeleted" column="is_deleted"/>
    </resultMap>

    <!-- 根据任务编码查询任务详细信息-->
    <select id="getTaskByCode" resultMap="taskResultMap">
        select <include refid="taskColumns"/> from `tb_produce_task` where task_code = #{task_code} and is_deleted = 0
    </select>

    <!-- 根据任务 id 查询任务详细信息-->
    <select id="getTaskById" resultMap="taskResultMap">
        select <include refid="taskColumns"/> from `tb_produce_task` where id = #{task_id} and is_deleted = 0
    </select>
</mapper>
